
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato' , 'Open+Sans'; 
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #025959;
    padding: 10px 20px;
    color: white;
  }
  
  .toggle-menu{
    display: none;
  }

 #logo-container{
    display: flex;
    align-items: center;
    gap:2px;
    font-size: 1.5rem;
 }

 #logo-container img{
    height: 50px;
    width: auto;
 }
  
  .search-form {
    display: flex;
    width: auto;
  }
  
  input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  button[type="submit"] {
    padding: 8px 15px;
    background-color: #4CAF50;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
  }

  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .nav-links {
    list-style: none;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  
  .nav-links li i{
    cursor: pointer;
  }
 
  .drop-menu {
    background-color: white;
    padding: 10px 0;
    box-shadow: 2px 1px 2px #eee;
  }
  
  .drop-menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .drop-menu-item {
    position: relative;
    color: black;
    cursor: pointer;
  }
  
  .drop-menu-item i{
    color: #45a049;
  }
  .image{
    width: 250px;
    display: flex;
    align-content: center;
  }
  .content{
    display: flex;
    align-items: center;
    align-content: center;
    color: gray;
    padding: 10px;
    justify-content: space-between;
  }
  .gift-section{
    display: flex;
  }
  .text{
    display: flex;
    align-content: end;
    margin-left: 10px;
    align-content: center;
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 10px 0;
    list-style-type: none;
    width: 120px;
    border: solid;
    border-color: #fff;
    border-radius: 2px;
    color: #414141;
    font-size: medium;
    border: 1px solid #eee;
  }
  .button{
    font-size: 15px;
    color:#fff;
    background-color: #4CAF50 ;
    padding:  8px 15px;
    border-radius: 7px 5px 5px 7px;
    border:none;
  }
  
  .dropdown li {
    padding: 5px;
    text-align: center;
  }
  
  .fa-angle-down {
    margin-left: 5px;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  
  @media screen and (max-width: 768px) {
    .toggle-menu {
        display: flex;
        align-items: center;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .toggle-menu i {
      margin-left: 10px;
    }

    #logo-container{
      order: 2;
    }
    #logo-container h2{
      display: none;
    }
    
    .search-form{
      order: 3;
    }
    
    .nav-links a{
      display: none;
    }

    .nav-links{
      order: 4;
    }
    
    .drop-menu {
      display: none;
      flex-direction: column;
      align-items: flex-start;
    }
    
    .drop-menu-list{
      font-size: small;
      /* flex-direction: column; */
    }
    
    .drop-menu-item li {
      font-size: small;
    }
  }